{% extends "index.html" %}
{% block content %}
<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="social-box">
            <img src="/static/faces/0/1512222945.211.png" width="90px"/>
            <img src="/static/faces/0/1512223773.3410.png" width="90px"/>
            <img src="/static/faces/0/1512223773.349.png" width="90px"/>
            <ul>
                <li>
                    <strong>Serj</strong>
                    <span>0</span>
                </li>
                <li>
                    <strong>21:25:14</strong>
                    <span>Dec 3</span>
                </li>
            </ul>
        </div>
        <!--/social-box-->
    </div>
    <!--/.col-->

    <div class="col-md-3 col-sm-6">
        <div class="social-box">
            <img src="/static/faces/10/1512223356.8410.png" width="90px"/>
            <img src="/static/faces/10/1512223356.848.png" width="90px"/>
            <img src="/static/faces/10/1512223773.349.png" width="90px"/>
            <ul>
                <li>
                    <strong>Helene</strong>
                    <span>10</span>
                </li>
                <li>
                    <strong>21:22:14</strong>
                    <span>Dec 3</span>
                </li>
            </ul>
        </div>
        <!--/social-box-->
    </div>
    <!--/.col-->


</div>
<!--/.row-->
{% endblock %}